body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 6fr 4fr;
  /* grid-template-rows: 200px;
  grid-template-columns: repeat(12, 1fr); */
  /* grid-column-gap: 20px;
  grid-row-gap: 20px; */
  grid-gap: 20px;
}

.item {
  background: rgb(192, 192, 192);
  padding: 12px;
  height: 200px;
}
