/* Extra Large Screens */
@media only screen and (min-width: 1200px) {
  body {
    background: rgb(180, 10, 10);
  }
}
/* Large Screens */
@media only screen and (max-width: 1200px) {
  body {
    background: green;
  }
}

/* Medium Screen */
@media only screen and (max-width: 992px) {
  body {
    background: purple;
  }
}

/* Small Screen */
@media only screen and (max-width: 576px) {
  body {
    background: rgb(12, 109, 96);
  }
}

/* For print only */
@media print {
  .no-print {
    display: none;
  }
}
