#box {
  width: 200px;
  height: 200px;
  background: linear-gradient(tomato, orange, grey);
  /* transform: translate(100px, 200px); */
  margin: 100px auto;
  /* transform: scale(0.5, 0.5); */
  /* transform: rotate(45deg); */
  /* transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  -moz-transform: skew(-30deg); */
}

#box:hover {
  /* transform: scale(2, 2); */
  background: blue;
  transition: all 0.5s cubic-bezier(0.08, 0.82, 1, -0.13);
}
